*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

body{
    background: radial-gradient(circle at center, 
    #ffcccc,
    #ff99cc,
    #ff66cc,
    #ff33cc,
    #ff00cc
  );
    background:radial-gradient(circle at center,    #ffcccc,
    #ff99cc,
    #ff66cc,
    #ff33cc,
    #ff00cc)
    
};

